﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restofy backend</h1>
    <p><a href="/swagger">Swagger API endpoints documentation</a></p>
</div>
