@model BLL.App.DTO.OrderModels.Restaurant

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">

    <label asp-for="NameLang" class="control-label"></label>
    <input asp-for="NameLang" class="form-control"/>
    <span asp-validation-for="NameLang" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture" class="control-label"></label>
    <input asp-for="Picture" class="form-control"/>
    <span asp-validation-for="Picture" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RestaurantAddress" class="control-label"></label>
    <input asp-for="RestaurantAddress" class="form-control"/>
    <span asp-validation-for="RestaurantAddress" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DescriptionLang" class="control-label"></label>
    <input asp-for="DescriptionLang" class="form-control"/>
    <span asp-validation-for="DescriptionLang" class="text-danger"></span>
</div>
<div class="form-group t-1">
    <div class="input-group shadow">
        <span class="input-group-text px-3 text-muted">
            <i class="fas fa-image fa-lg"></i>
        </span>
        <input type="file" id="file" name="img[]" class="d-none"/>
        <input type="text" id="imagename" class="form-control form-control" placeholder="@Resources.Common.CommonForm.UploadImage"/>
        <button class="browse btn btn-primary px-4" type="button">
            <i class="fas fa-image"></i>
            @Resources.Common.CommonForm.Browse
        </button>
    </div>
</div>