@model BLL.App.DTO.OrderModels.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Restaurant</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="RestaurantPartials/_RestaurantCreateEditPartial" model="Model"/>
            <div class="form-group hvr-grow mt-1">
                <input type="submit" id="button_edit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary fa-sm hvr-grow">
        <i class="fas fa-arrow-left"></i>
        Back
    </button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
       $("#button_edit").click(function (){
       window.location.href = "/MyRestaurants.cshtml"
       });
    </script>

}